[Unit]
Description=Backup files like pdumpfs tree using rsync - pdumpfs for every day (%i)

[Timer]
OnCalendar=*-*-* 06:00:00

[Install]
WantedBy=timers.target
